*{
    margin: 0;
    padding: 0;
}
header{
   background-color: #FFF9F4;
}
.navbar .navbar-brand img{
    width:50%;
}

.navbar .navbar-brand a{
    display: block;
}
.navbar-toggler{
    outline: 0;
}


.card-bg{
    background-color: #F1F1F1;
    height: 300px;
    border-radius: 22px;
}

.card_radius{
    border: 0;
    border-radius: 20px;
}

.title_color{
    font-family: 'Bebas Neue', cursive;
    color: #363958;
}
.head-title{
    font-family: 'Bebas Neue', cursive;
    font-size: 80px;
    font-weight: 500;
}
.text-orange{
    color: #FA804C;
}
.text-blue{
    color: #363958;
}
.text-roboto{
    font-family: 'Roboto', sans-serif;
}
.card-ptext{
    color:#3E3E3E;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.card-footer-bg{
    border: 0;
    background-color: #fff;
}
.btn-final{
    background-color: #3949D9;
    text-transform: uppercase;
    word-spacing: 3px;
    padding: 11px 17px;
    border: 1px solid #3949D9;
}

.freaturs img{
    height: 100px;
    width: 100px;
}

footer{
   background-color:#FFF9F4;
}

footer a{
    padding: 7px 13px;
    background-color: #fa804c;
    color: #fff;
    display: inline-block;
    font-size: 25px;
    margin-right: 21px;
    margin-top: 15px;
    text-decoration: none;
    border-radius: 5px;
}

footer i{
    color: #fa804c;
}

 /* responsive */

@media(max-width:576px){
    
    .flx-direction{
        display: flex;
        flex-direction: column;
    }
    .freaturs-order{
        display: flex;
        flex-direction: column-reverse;
    }
    .freaturs{
        text-align: center;
    }

    .head-title{
        font-size: 50px;
    }
    .titlee-center{
        text-align: center;
    }

    .nav-togole{
        display: flex;
        justify-content: space-between;

    }

    .navbar .navbar-brand img{
        width:180px;
    }


}

